version: "3.9"

services:
  db:
    image: postgres:15
    container_name: medvault-db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  patients:
    build:
      context: ./patients
      dockerfile: Dockerfile
    container_name: medvault-backend
    depends_on:
      - db
    environment:
      DATABASE_URL: ${DATABASE_URL}
    ports:
      - "8080:8080"

  auth:
    build:
      context: ./auth
      dockerfile: Dockerfile
    container_name: medvault-auth
    ports:
      - "8713:8713"

volumes:
  postgres_data:
